node_modules/
.idea/codeStyleSettings.xml

.idea/

.idea/chronicink-dashboard-v2.iml

.idea/libraries/meteor_packages_auto_import_browser.xml

.idea/libraries/meteor_packages_auto_import_npm.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/jsLibraryMappings.xml

.idea/libraries/chronicink_dashboard_v2_node_modules.xml

*.xml

server/ArtistRecommendation/__pycache__/test_setup.cpython-35.pyc

mongo-test-dump/

prod-mongodb-dump.zip
